@font-face {
    font-family: 'PokemonRBY-font';
    src: url('../../assets/Pokemon\ Classic.ttf') format('truetype');
  }

.Pokemon {
    height: 100vh;
    display: grid;
}

.sprite {
    justify-self: center;
    height: 50%;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info-box {
    position: relative;
    width: 50%;
    left: 30%;
    bottom: 70%;
}

.info {
    font-family: 'PokemonRBY-font';
}

.search-bar {
    position: relative;
    left: 30%;
    bottom: 100%;
    width: 40%;
}

.input {
    font-family: 'PokemonRBY-font';
    width: 80%;
}