@font-face {
    font-family: 'PokemonRBY-font';
    src: url('../../assets/Pokemon\ Classic.ttf') format('truetype');
  }

.Home {
    background-image: url('../../assets/pikachuBalao.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
}

.dialog-box {
    display: grid;
    background-image: url('../../assets/dialog_box.png');
    background-repeat: no-repeat;
    background-size: contain;
    justify-self: center;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    height: 30%;
    width: 28%;
    margin-bottom: 2.5%;
}

.dialog {
    display: grid;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    text-decoration: none;
}

.dialog-content {
    font-family: 'PokemonRBY-font';
    background-color: white;
    border: none;
}

.dialog-content:hover {
    cursor: pointer;
}

